#menubar {
  position: fixed;
  left: 0;
  top: 0;
  width: 25%;
  padding-top: 5%;
  overflow: auto;
  height: 100vh;
  font-size: 12px;
  font-family: 'Noto Sans JP', serif;
  margin-left: -0.2em;
}
#menubar ul { padding-left: 10; }
#menubar li { padding-left: 20; }

#container {
  clear: both;
  max-width: 1300px;
  margin: 5% 4% 0 25%;
}
